name: Verify

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: '3.14'

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
            python-version: ${{ env.PYTHON_VERSION }}
            cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run mypy
        run: |
          MYPYPATH=src mypy --disallow-untyped-defs --namespace-packages --explicit-package-bases src

  ruff:
    runs-on: ubuntu-latest
    name: Lint with Ruff
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install Ruff
      run: pip install ruff
    - name: Run Ruff
      run: ruff check --output-format=github src/